  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Navigation bar styling */
  nav {
    position: fixed;
    display: flex;
  justify-content: flex-end;  
    top: 0;
    width: 100%;
    background: #3b3434;
    z-index: 1000;


  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;

  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Section styling */
  section {
    padding: 100px 20px;
    margin-top: 50px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Visualization container styling */
  #viz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Chart containers */
  #vis1, #vis2, #vis3, #vis4{
    width: 100%; 
    margin: 1rem auto;
    display: block;
  } 

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.3em;
  
  }
  p {
    font-size:1rem;
  }
  

/*left-right section scroll*/
.scroll-grid {
  margin: auto;
  width: 100%;
  max-width: 81rem;
  display: flex;
  flex-direction: row;

}
.scroll-order {
  border-right: 0.05rem solid black;
}
.graph-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0rem;
  width: 60rem;
  /*max-width: 60rem;*/
}
.graph-section p{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.box1 {
  background-color: white;
  border-radius: 0.3rem;
  display: block;
  /*max-width need to be adjusted for responsiveness*/
  max-width: 14rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 2rem;

  /*put in responsive*/
  position: sticky;
  top: 3rem;
  right: 0;
  left: 0;
  bottom: 0;
}

.content-box {
  border: none;
  max-width: 44rem;
  width: 100%;
  margin-left: 1rem;
  margin-top:2rem;
}


/*left-right section scroll end*/




 @media (max-width: 768px) {
    #vis1, #vis2, #vis3, #vis4 {
      height: 60vh; 
    }
  }



  /* Wenhan */

  .line {
    /* for smoother transition for the combined graph */
    transition: stroke-width 0.1s ease;
  }

  .instruction {
    text-align: center;
    font-size: 16px;
    color: #7f0000;
    margin-top: 20px;
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

  .grid path {
    stroke-width: 0;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
  }

  .user-line {
    fill: none;
    stroke: red;
    stroke-width: 2;
  }

  .area {
    fill: lightsteelblue;
    opacity: 0.5;
  }