body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Navigation bar styling */
  nav {
    position: fixed;
    display: flex;
  justify-content: flex-end;  
    top: 0;
    width: 100%;
    background: #3b3434;
    z-index: 1000;


  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;

  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Section styling */
  section {
    padding: 100px 20px;
    margin-top: 50px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Visualization container styling */
  #viz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Chart containers */
  #vis1, #vis2, #vis3, #vis4{
    width: 100%; 
    margin: 1rem auto;
    display: block;
  } 

 @media (max-width: 768px) {
    #vis1, #vis2, #vis3, #vis4 {
      height: 60vh; 
    }
  }
